<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<script>
$.ajax({
	url:"http://192.168.30.243:8080/selectall",
	datatype:'json',
	type:"POST",
	success: function(result){
		console.log(result);
		var str="";
		str +="<table><tr><th>company</th><th>data</th></tr>";
		$.each(result,function(index,element){
		str +="<tr><td>"+element['company']+"</td><td>"+element['data']+"</td><td>"+"</td></tr>";})
		
		str +="</table>";
		$('body').append(str);}
	})
</script>
</head>

<body>
</body>
</html>
